#siteheade{ 
   padding-top: 50px; 
}
.siteheade__container{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.siteheader__logoblock{
   display: flex;
   align-items: center;
   gap: 64px;
}
.siteheade__list{
   display: flex;
}
.siteheade__item + .siteheade__item{
   margin-left: 40px;
}
.sitehade__link{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #36536bcf;
    mix-blend-mode: normal;
    opacity: 0.7;
}
.sitehade__link:hover{
   color:#1f313f;
}
.siteheade__btn:hover{
   opacity: 0.5;
}
.btn{
         border: 2px solid #ffffff;
         border-radius: 24px;
         padding: 9px 33px;
         font-family: 'Public Sans';
         font-weight: 700;
         font-size: 15px;
         line-height: 18px;
         letter-spacing: -0.115385px;
         color: #FBFCFE;
         background: #BA4270;
         box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
         border-radius: 24px;
         font-style: normal;     
}
.humburger{
   opacity: 0;
}
@media screen and (max-width:704px) {
   .siteheade__list{
      display: none;
   }
   .siteheade__btn{
      display: none;
   }
   .humburger{
       opacity: 1;  
   }
}
@media screen and (max-width:1076px) {
   body{
      background-image: url(../../img/Mask3.svg);
      background-repeat: no-repeat;
      background-position: top center;
      z-index: -4;  
   }  
}




