.hero__container{
    display: flex;
}
.telephoneimg{
    width: 263px;
    height: 500px;
}
.span__hero{
   color: #080f15d1;
}
  .intro__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 206px;

  }
  .intro_box__title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;    
    letter-spacing: -0.553846px;
    color: #36536B;
  }
  .intro_box__img{
    width: 500px;
    height: 500px;
  }
.intro__email{
  width: 445px;
  height: 48px;
}
.hero__form{
  position: relative;
  margin-top: 41px;
}
.intro__email:hover{
  opacity: 0.5;
}
.hero__btn{
  position: absolute;
  top: 0px;
  right: 141px;
  height: 48px;
  left: 230px;
}
.hero__btn:hover{
  background: #DA6D97;
box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
border-radius: 24px;
}  
.suptitle{
  margin-top: 16px;
  margin-left: 27px;
  font-family: 'Public Sans';
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #6C8294;
}
.intro__email{
  color: #FBFCFE;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px 0 0 24px ;
  width: 272px;
  height: 48px;
  padding-top: 4px;
  padding-left: 25px;
}
@media screen and (min-width:2300px) {
  body{
    background-image: url();
  }
}
@media screen and (max-width:1076px) {
  .intro__box{
    width: 573px;
    text-align: center;
    margin: 0 auto;
    flex-direction: column-reverse;
  }
  .intro_box__img{
    width: 159px;
    height: 300px;
    padding-left: 9%;
    padding-right: 50%;
  }
  .hero__btn{
    top: 0px;
    right: 40px;
    height: 48px;
    left: 330px;
  }
  .suptitle{
    padding-bottom: 100px;
  }
}

@media screen and (max-width:565px) {
  .hero__form{
    width: 445px;
    height: 48px;

  }
  .intro__email{
    display: inline-block;
    color: #FBFCFE;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px ;
    width: 272px;
    height: 48px;
    padding-top: 4px;
    padding-left: 25px;
    margin: 0 auto;
  }
  .hero__btn{
    position: absolute;
    top: 60px;
    right: 450px;
    height: 48px;
    left: 59px;
    width: 332px;
  }
  .suptitle{
    align-items: center;
    margin-top: 100px;
    padding-bottom: 79px;
  }
}