.hero__container{
    display: flex;

}
.telephoneimg{
    width: 263px;
    height: 500px;
}

  .intro__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 206px;

  }

  .intro_box__title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;    
    letter-spacing: -0.553846px;
    color: #36536B;

    


  .intro_box__img{
    width: 500px;
    height: 500px;
  }

.intro__email{
  width: 445px;
  height: 48px;
}

.hero__form{
  position: relative;
  margin-top: 41px;
}
.hero__btn{
  position: absolute;
  top: 0px;
  right: 141px;
  height: 48px;
  left: 230px;
}
.hero__btn:hover{
  background: #DA6D97;
box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
border-radius: 24px;
opacity: 0.5;
}
  
.suptitle{
  margin-top: 16px;
  margin-left: 27px;
  font-family: 'Public Sans';
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #6C8294;
}

.intro__email{
  background: #FBFCFE;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px 0 0 24px ;
  width: 272px;
  height: 48px;
  padding-top: 4px;
  padding-left: 25px;
  opacity: 0.5;
}
